.parent-debug-header {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  padding-bottom: 20px;
}
.debug-header {
  display: flex;
  width: 90vw;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: var(--Gray-1, #333);
}
.filename {
  display: flex;
  padding: 4px 100px;
  align-items: center;
  gap: 10px;
  border-radius: 42px;
  background: var(--Gray-2, #4f4f4f);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05) inset;
}
.filename-content {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.icons {
  display: flex;
  align-items: center;
  gap: 45px;
}
.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.others {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.icon {
  transition: border 0.1s ease-in-out, padding 0.1s ease-in-out;
}

.icon:hover {
  border: 2px solid white; /* White border on hover */
  box-shadow: 0 0 0 1px white;
  padding: 3px;
  /* margin: 2px; */
}

.save-button {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: var(--primary-orange, #e88f40);
}
