:root {
  --main-color: rgba(255, 255, 255, 0.87);
  --component-background-color: #333333;
  --component-light-background: #ffffff;
}

[data-theme="light"] {
  --main-background-color: #ffffff;
  --main-color: rgba(0, 0, 0, 0.87);
}

[data-theme="dark"] {
  --main-background-color: #242424;
  --main-color: rgba(255, 255, 255, 0.87);
}

body {
  color: var(--main-color);
  background-color: var(--main-background-color);
}

.parent-debug-header {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  padding-bottom: 20px;
}
.debug-header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: var(--Gray-1, #050505);
  position: relative;
  top: 15px;
  width:100%;
  margin-left: 0px;
  margin-right: 10px;
}
[data-theme="light"] .debug-header {
  background-color: var(--component-light-background);
  color: var(--component-light-color);
  border: 2px solid var(--Gray-1, #333);
}
.filename {
  display: flex;
  padding: 4px 100px;
  align-items: center;
  gap: 10px;
  border-radius: 42px;
  background: var(--Gray-2, #4f4f4f);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05) inset;
  margin-left: -260px; /* Adjust the value as needed */
}

.filename-content {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.icons {
  display: flex;
  align-items: center;
  gap: 45px;
}
.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.others {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.icon {
  transition: border 0.1s ease-in-out, padding 0.1s ease-in-out;
  cursor: pointer;
}

.icon:hover {
  border: 2px solid white;
  box-shadow: 0 0 0 1px white;
  padding: 3px;
}

[data-theme="light"] .icon:hover {
  border: 2px solid black;
}

.save-button {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: var(--primary-orange, #e88f40);
  margin-left: -102px;
  border: 2px solid #e88f40;

}

.add-button {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 2px;
  background: var(--primary-orange, #e88f40);
  margin-left: -102px;
  border: -10px solid #e88f40;
  position: relative;
  right: -100px;
}

@media (max-width: 480px) {
  .debug-header {
    padding: 5px;
  }

  .filename {
    padding: 4px 10px;
  }

  .icons, .arrows, .others {
    flex-direction: column;
    gap: 5px;
  }

  .save-button, .add-button {
    padding: 5px 10px;
  }
}