.stackbottom-container {
  display: flex;
  width: 100%;
  height: 159px;
  padding: 15px 20px;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  border: 1px solid var(--Gray-2, #4f4f4f);
  box-sizing: border-box;
}
.stackbottom-maincomponent {
  overflow-x: auto;
  width: 100%;
  height: 139px;
  box-sizing: border-box;
}
.stackbottom-heading {
  display: flex;
  width: 100%;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--primary-orange, #e88f40);
  box-sizing: border-box;
}
