.header {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  padding-top: 10px;
  padding-bottom: 10px;
}

.head {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 111px;
  height: 62px;
  flex-shrink: 0;
}
.login {
  display: flex;
  gap: 40px;
}

.darkmode {
  padding: 10px;
  background-color: #333333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
