.gdb-components {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 42vw;
  margin-bottom: -100px;
  position: relative;
  top: -90px;

}

.gdb-header {
  display: flex;
  align-items: flex-start;
}

.gdb-content {
  width: 40vw;
}
.gdb-header-content {
  display: flex;
  padding: 6px 12px;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid var(--Gray-2, #4f4f4f);

  color: var(--color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.active {
  font-weight: bold;
  background: var(--primary-orange, #e88f40);
}

@media (max-width: 768px) {
  .gdb-components {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items for small screens */
    gap: 20px; /* Add spacing between elements */
    width: auto; /* Adjust width to fit smaller screens */
  }
}
